nav {
  background-color: #333;
  padding: 20px; 
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin-right: 20px;
}

Link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

Link:hover {
  text-decoration: underline;
}
